body{
    background-color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

#contenedor{
    color: aliceblue;
    background-color: rgba(14, 14, 144, 0.808);
    margin: 0 auto;
    width: 600px;
    height: 90vh;
    border: 5px;
    border-radius: 7px;
    border-color: black;
}

h1{
    text-align: center;
}

input {
    border-color: brown;
    border-radius: 5px;
}

button{
    margin-left: 5px;
    border-color: aquamarine;
    color: green;
}